body {
  background: #dbd6ce;

  /* margin: 0; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  font-family: "Rationale", sans-serif;
  font-style: normal;
}
.clock-number {
  margin: 0;
  display: flex;
  /* min-height: 60vh; */
  justify-content: center;
}
.clock {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e0ddd8;
  position: relative;
  box-shadow:
    15px 15px 30px rgba(0, 0, 0, 0.15),
    -15px -15px 30px rgba(255, 255, 255, 0.8);
}
.namber {
  position: absolute;
  font-size: 25px;
}
.namber12 {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.namber3 {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.namber6 {
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.namber9 {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  background: #555;
  border-radius: 20px;
}
.hour-hand {
  width: 2px;
  height: 50px;
}
.minute-hand {
  width: 2px;
  height: 80px;
}
.second-hand {
  width: 2px;
  height: 80px;
  background: #e88383;
}

.container {
  background: #e0ddd8;
  box-shadow:
    10px 10px 10px rgba(0, 0, 0, 0.15),
    -10px -10px 10px rgba(241, 241, 241, 0.8);
  max-width: 550px;
  border-radius: 30px;
  margin: 5px auto;
  text-align: center;

  display: grid;
  grid-template-columns: 275px 275px;
}
.time {
  background: #dbd6ce;
  border-radius: 40px;
  box-shadow:
    inset 8px 8px 4px rgba(40, 38, 38, 0.15),
    inset -8px -8px 8px rgba(242, 241, 241, 0.8);
  padding: 15px;
  margin: 20px;
  margin-bottom: 20px;
  font-size: 50px;
}
.weather-app-deteils {
  font-size: 18px;
  line-height: 1.2;
}
.wether-app-icon {
  width: 55px;
  margin-right: 95px;
  margin-bottom: -45px;
}

#humidity {
  color: #4d774d;
  font-weight: 500;
  font-size: 20px;
}
#wind {
  color: #4d774d;
  font-weight: 500;
  font-size: 20px;
}
#current-time {
  color: #4d774d;
}

.weather-app-temperture {
  font-size: 30px;
}
.weather-app-icon {
  font-size: 30px;
}
.weather-app-unit {
  font-size: 30px;
}
.weather-forecast-data {
  text-align: center;
}
.forcast {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px;

  grid-gap: 30px;
  margin: 20px;
  padding-left: 18px;
}
.weather-forecast-temperatures {
  padding-top: 5px;
  display: flex;
}
.weather-forecast-temperature {
  padding: 5px;
  margin-top: 5px;
}
.weather-forecast-day {
  font-size: 20px;
  padding-left: 5px;
  padding-top: 20px;
  height: 100px;
  border-radius: 20px;
  background: #dcd7cf;
  box-shadow:
    inset 8px 8px 4px rgba(40, 38, 38, 0.15),
    inset -8px -8px 8px rgba(242, 241, 241, 0.8);
}
strong {
  color: #4d774d;
}
.input-search {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.input-city {
  border-radius: 20px;
  background-color: #dbd6ce;
  margin: 10px;
  padding: 20px;
  border: none;

  box-shadow:
    inset 8px 8px 6px rgba(40, 38, 38, 0.15),
    inset -8px -8px 8px rgba(242, 241, 241, 0.8);
  /* box-shadow:
    10px 10px 10px rgba(0, 0, 0, 0.15),
    -10px -10px 10px rgba(241, 241, 241, 0.8); */
}
.input-submit {
  border-radius: 20px;
  background-color: #dbd6ce;
  border: none;
  max-width: 20%;
  margin: 10px;
  padding: 20px;
  box-shadow:
    10px 10px 10px rgba(0, 0, 0, 0.15),
    -10px -10px 10px rgba(241, 241, 241, 0.8);

  /* box-shadow:
    inset 8px 8px 3px rgba(40, 38, 38, 0.15),
    inset -8px -8px 5px rgba(242, 241, 241, 0.8); */
}
footer {
  text-align: center;
  color: rgba(56, 55, 55, 0.804);
}
a {
  color: #3d553d;
  font-style: none;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
