body {
  background: #dbd6ce;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rationale", sans-serif;

  font-style: normal;
}
.clock-number {
  margin: 0;
  /* min-height: 60vh; */
  display: flex;
  justify-content: center;
}
.clock {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e0ddd8;
  position: relative;
  box-shadow:
    15px 15px 30px rgba(0, 0, 0, 0.15),
    -15px -15px 30px rgba(255, 255, 255, 0.8);
}
.namber {
  position: absolute;
  font-size: 25px;
}
.namber12 {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.namber3 {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.namber6 {
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.namber9 {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  background: #555;
  border-radius: 20px;
}
.hour-hand {
  width: 2px;
  height: 50px;
}
.minute-hand {
  width: 2px;
  height: 80px;
}
.second-hand {
  width: 2px;
  height: 80px;
  background: #e88383;
}
footer {
  text-align: center;
}
.container {
  background: #e0ddd8;
  box-shadow:
    10px 10px 10px rgba(0, 0, 0, 0.15),
    -10px -10px 10px rgba(241, 241, 241, 0.8);
  max-width: 550px;
  border-radius: 30px;
  margin: 5px auto;
  text-align: center;
  display: grid;
  grid-template-columns: 275px 275px;
}
.time {
  background: #dbd6ce;
  border-radius: 40px;
  box-shadow:
    inset 8px 8px 4px rgba(40, 38, 38, 0.15),
    inset -8px -8px 8px rgba(242, 241, 241, 0.8);
  padding: 15px;
  margin: 20px;
  margin-bottom: 20px;
  font-size: 50px;
}
.day {
  margin-top: 30px;
}
.forcast {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
}

.input-search {
  margin: 20px;
}
.input-city {
  border-radius: 20px;
  background-color: #dbd6ce;
  margin: 10px;
  padding: 20px;
  border: none;
  box-shadow:
    inset 8px 8px 6px rgba(40, 38, 38, 0.15),
    inset -8px -8px 8px rgba(242, 241, 241, 0.8);
  /* box-shadow:
    10px 10px 10px rgba(0, 0, 0, 0.15),
    -10px -10px 10px rgba(241, 241, 241, 0.8); */
}
.input-submit {
  border-radius: 20px;
  background-color: #dbd6ce;
  border: none;
  margin: 10px;
  padding: 20px;
  box-shadow:
    10px 10px 10px rgba(0, 0, 0, 0.15),
    -10px -10px 10px rgba(241, 241, 241, 0.8);
  /* box-shadow:
    inset 8px 8px 3px rgba(40, 38, 38, 0.15),
    inset -8px -8px 5px rgba(242, 241, 241, 0.8); */
}
